# CMake builds
[Bb]uild*/

# clangd
.cache/

# direnv
.direnv/

# Nix
result
result-*

# ImGui
imgui.ini

# IDEs
.idea/
.vscode/

# Asset contents
Assets/*
# allow fonts
!Assets/Fonts/
# allow ascii
!Assets/TriggerASCII/
# allow tutturuu
!Assets/TriggerSounds/tutturuu.opus
