---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="w-full h-full flex flex-col justify-center items-center space-y-4">
        <div class="w-3/4 flex flex-col items-center">
            <label for="input-connect-twitch" class="mb-2 text-sm text-white">Twitch Channel</label>
            <input type="text" id="input-connect-twitch" class="cn-inputfield"/>
        </div>
        <button id="btn-connect-twitch" type="button" class="cn-button">Connect</button>
    </div>
</MainLayout>

<script>
  import {intervalLimited} from "../scripts/helpers";

  const cn = window.chatnotifier;
  const globalConfig = JSON.parse(await cn.call("get_config_json"));

  const btnConnectTwitch = document.getElementById("btn-connect-twitch") as HTMLButtonElement;
  const input = document.getElementById("input-connect-twitch") as HTMLInputElement;

  if (btnConnectTwitch && input) {
    const btnTextHandler = async () => {
      const status = await cn.call("get_twitch_connection_status");
      btnConnectTwitch.textContent = status === "Connected"
        ? "Disconnect" : status === "Disconnected"
          ? "Connect" : status;

      if (status === "Connected" && !btnConnectTwitch.classList.contains("cn-button-danger"))
        btnConnectTwitch.classList.add("cn-button-danger");
      else if (status !== "Connected" && btnConnectTwitch.classList.contains("cn-button-danger"))
        btnConnectTwitch.classList.remove("cn-button-danger");

      return Promise.resolve();
    };
    btnTextHandler();

    input.value = globalConfig.twitchChannel;
    input.addEventListener("input", async () => {
      globalConfig.twitchChannel = input.value;
    });

    btnConnectTwitch.addEventListener("click", async () => {
      if (await cn.call("get_twitch_connection_status") !== "Connected") {
        cn.call("printer", "Connecting to Twitch");
        btnConnectTwitch.disabled = true;
        btnConnectTwitch.textContent = "Connecting..";
        await cn.call("set_config_json", JSON.stringify(globalConfig));
        await cn.call("connect_twitch", globalConfig.twitchChannel);
      } else {
        cn.call("printer", "Disconnecting from Twitch");
        await cn.call("disconnect_twitch");
        btnConnectTwitch.disabled = true;
        btnConnectTwitch.textContent = "Disconnecting..";
      }

      intervalLimited(() => {
        btnConnectTwitch.disabled = false;
        btnTextHandler();
      }, 1000, 5);

      return Promise.resolve();
    });
  }
</script>
