---
import Sidebar from "../components/Sidebar.astro";
import SidebarItem from "../components/SidebarItem.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="generator" content={Astro.generator}/>
    <title>ChatNotifier</title>
  </head>
  <body>
    <Sidebar>
        <SidebarItem text="Connection" page="connection"></SidebarItem>
        <SidebarItem text="Audio" page="audio"></SidebarItem>
        <SidebarItem text="Assets" page="assets"></SidebarItem>
        <SidebarItem text="Cooldowns" page="cooldowns"></SidebarItem>
        <SidebarItem text="Notifications" page="notifications"></SidebarItem>
        <SidebarItem text="Users" page="users"></SidebarItem>
        <SidebarItem slot="divided" text="About" page="about"></SidebarItem>
    </Sidebar>

    <div class="flex flex-col p-2 w-full h-screen">
        <slot/>
    </div>

    <script src="../scripts/flowbite.min.js"></script>
  </body>
</html>

<style is:global>
  body {
    @apply w-full h-full bg-slate-900 text-white flex flex-row;
  }

  .cn-inputfield {
      @apply border text-sm rounded-sm block w-2/3 p-1 bg-gray-700 border-gray-600 placeholder-gray-400
      text-white focus:ring-blue-500 focus:border-blue-500;
  }

  .cn-button {
      @apply text-white rounded-sm text-sm p-1 bg-blue-600 hover:bg-blue-700 active:bg-blue-800
      disabled:bg-gray-500 disabled:cursor-not-allowed disabled:hover:bg-gray-500 disabled:active:bg-gray-500;
  }

  .cn-button-danger {
      @apply bg-red-600 hover:bg-red-700 active:bg-red-800;
  }

  .cn-sidebar-item {
      @apply flex items-center p-2 rounded-sm text-white text-sm cursor-pointer hover:bg-gray-700;
  }

  .cn-sidebar-item-active {
      @apply bg-gray-700;
  }
</style>

<script>
    const cn = window.chatnotifier;
    // Whenever unloaded (page switch, closing and such..), save config
    window.addEventListener("beforeunload", cn.call("save_config"));
</script>
