---
const {text, page} = Astro.props;
---

<li>
    <a class="cn-sidebar-item" href={(page + ".html")} data-text={text} data-href={page}>
        <span>{text}</span>
    </a>
</li>

<script>
    const elements = document.querySelectorAll(".cn-sidebar-item");
    if (elements) {
        elements.forEach(element => {
            const split = window.location.pathname.split("/").pop().split(".")[0];
            const splitWindow = (element as HTMLLinkElement).href;
            if (split === splitWindow)
                element.classList.add("cn-sidebar-item-active");
        });
    }
</script>